@import url("https//fonts.googleapis.com/css?family=Open+Sans:400");
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100;
  background: rgb(6, 62, 83);
  background-position: center;
  background-size: 400px;
  backdrop-filter: blur(10px);
}
.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 2em;
  color: rgb(236, 50, 50);
  text-align: center;
}
.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid rgb(141, 226, 43);
}
.inputlabel {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(50%);
  color: rgb(172, 172, 10);
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label {
  top: 2px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: rgb(6, 134, 246);
}
.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: rgb(8, 38, 232);
  font-size: 1.2em;
  top: 20px;
}
.forget {
  margin: 15px 0 15px;
  font-size: 0.9em;
  color: aliceblue;
  display: flex;
  justify-content: center;
}
.forget label input {
  margin-right: 3px;
}
.forget label a {
  color: azure;
  text-decoration: none;
}
.forget label a:hover {
  text-decoration: underline;
}
button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: greenyellow;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
.register {
  font-size: 0.9em;
  color: rgb(247, 246, 246);
  text-align: center;
  margin: 25px 0 10px;
}
.register p {
  /* text-decoration: none; */
  color: rgb(249, 249, 249);
  font-weight: 600;
}
.register p a:hover {
  text-decoration: underline; 
}